
Primeiro/.vs/Primeiro/DesignTimeBuild/.dtbcache.v2
Primeiro/.vs/Primeiro/FileContentIndex/05e6e5b9-4f2b-46df-91b9-f80b81381488.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/9d7c5883-fe6f-4d5d-8d46-4f0bdbf7fa9f.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/9d7c5883-fe6f-4d5d-8d46-4f0bdbf7fa9f.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/51d51011-656a-4aa9-a864-808f67223b80.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/dce63291-05d3-4ef2-a601-1bfd32b10750.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/d6db5ff6-c65c-45fe-aacf-e51f3dfa914f.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/f8ec57a9-8521-4811-aec7-a05fcee4b395.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/d4f57132-0864-4ca7-b3f4-526b9772c57b.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/ff7b315b-bb61-4155-8365-b33d49eb6fd3.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/bb336ee3-27e5-4ee2-98cc-391b4dea0957.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/f980528a-95c8-4ca8-817b-1f0493baf3cf.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/433e6108-c6a3-4811-b8bf-7393e3c327e7.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/084a414e-3ba0-4c93-980d-bc8d04d3bd75.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/1cba701b-aa46-4040-b7a9-fa3c6f1b6714.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/b08e632c-5f97-4a23-8584-bea4a14efaa4.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/64100038-d2ec-4901-b862-0e906fac5658.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/8d41641b-6219-4dbb-9551-a109ab7acff5.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/97a8969e-e42a-4f82-a7b5-89b677cfbda5.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/90c6299c-06ae-4c6e-870c-1c9783a68704.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/a297311f-8910-4d6c-a31e-6915bf62db5c.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/56dc4551-dd89-49be-967e-a86318962c4d.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/02896a7f-d124-4550-858d-529ebcffc38c.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/dac37f30-b2e5-4489-93bf-5dc964d6a8ed.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/c2e83e72-c417-4694-af16-e061823c61ca.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/4da49b9a-cbd6-4d3f-85a0-6a9c5fe13667.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/191b61b3-522b-464d-815e-f8c4ec5d7858.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/da85547c-5768-4e69-8ee5-e6314a8d245e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/613981b2-3f86-40df-ae65-c18ead7550b9.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/41449396-ef61-4732-a877-6cf13c431af0.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/e69c6ec0-b4f4-4a15-96de-4b0063ecad81.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/817ef409-a09c-4553-982c-0f8528c9e2af.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/aacc8938-c751-44b4-8bbb-728fc1d2f391.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/a3d5addb-61e3-4ef0-a87d-e20a69241e51.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/c705140f-3c20-4ee5-976b-36484cd9c10e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/004bd52f-5f4b-40a6-90cf-57ed2ed0cd63.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/6bf97c5c-c736-4a72-b49d-71f28051d60d.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/acb5d21b-abbf-40c6-96a6-990f0e73eccc.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/d0ee4813-ee96-4e4d-822a-b90c69e8fd8e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/391d154f-1c69-4dd1-9ef5-d9010559d7dd.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/bba66a7e-3d87-4cd7-aa49-ea36313baa8e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/f5fd468e-bcb6-4ed5-8b56-f42b78e7a542.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/31e3e829-50c4-4f8e-b133-df1fc937a65b.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/c47644e6-8e5c-4d8e-8e1d-ad3802212f8b.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/3522e922-7010-422f-8a5a-8aab8dc28674.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/78e6b49f-5368-49bf-a184-9a9f68d52efc.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/fa11ee37-a1c6-43a1-bbb2-5961e8556265.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/25fff384-022f-4908-a6b1-6b6c9d88bca4.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/2cf1fe71-d213-41d3-8beb-0998ecb1335e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/125a4894-518e-447c-9092-12484f7dbef6.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/a719c25e-50c8-4cc4-9962-dfa538d5bec9.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/68408592-ec09-47ce-9541-7dae7576f867.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/2d9bbf0d-2a08-42a6-9edd-6c581cc9a4b8.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/519dff66-78b3-4831-b5b1-72ae207686d1.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/22b1a662-2b3f-48ad-a962-f2da681047b3.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/4fec689b-d763-4363-b325-149d8e62227e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/985f427c-96ac-4be6-963d-effd375357c8.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/71eef09e-b68b-4105-b419-4257a0a8ad15.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/78c4237d-b38a-4717-9936-c0207cf4d8c2.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/86dd2e9b-f69d-48ae-a4de-d9c5af89bc21.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/a8deab1c-165d-4ac6-85b5-ebb69c6aebcb.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/8d9ef0b4-4bbb-4ea3-8e2c-3d22cc4ed946.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/ba5a9841-471d-42a5-aea1-2d451b808af1.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/7d6ef0f3-d509-4451-84a6-1b77644e7548.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/6d03ca5f-b332-4371-8a61-0df9dac2f6d8.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/6dd4a705-3590-4bcf-95b2-efd867319d9d.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/df100c19-cd29-4957-a2e0-5aae4ff0cead.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/0462907a-0250-4931-95d3-b447b7b0395d.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/98423323-3dc8-4497-9726-12c8ba19b948.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/637d9439-2838-46f6-8ddd-da7877ca285b.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/4f775f9d-ef74-4aae-89dc-681d68da7b63.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/8b68fb06-346d-48ec-8f9e-1d42dbf375ab.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/0976f54f-1b3f-4c27-9a2c-792e2b6aa24e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/1f2555c9-081a-4718-a430-81482879911c.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/67035d31-94ac-4ff2-96c1-16c1deafb095.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/53fb52a8-0c3f-4392-b641-1335ab1b3dd2.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/84bcff0b-7ee6-4e8a-9c3a-e8dc72b92eed.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/43895741-557e-403b-aa87-43aa22cba8d7.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/be1b4aba-d124-42fd-afb9-129d392cedc9.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/6432947a-3138-435a-a39f-29f28a4fe844.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/01f48c02-23b5-4c02-9c61-17b0593907d1.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/11f86b8d-6433-432f-80c9-b8d6c86f405a.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/be347010-09da-4777-9c13-dfe3eb8e365d.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/fb66bf2b-da2d-4fc4-b5da-993029c46a2c.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/19cacf7b-a3cc-475e-a450-fb2f3430ebf2.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/21c9b70c-8210-4514-a9d7-3b039f000ff9.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/a030140e-e421-41ed-9c69-d941e95bd6d2.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/8aa00c25-b6e1-4232-93bc-88cbaf9861d1.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/c5674bf2-8198-4571-a4d2-2c0d7350472f.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/18a5110b-4f02-4b77-bf3b-2624ac0687a4.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/11a03b5a-3e68-401b-bf2c-5c93bbf98f03.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/8c7909a1-deef-42c7-94eb-8a0a703b268a.vsidx
SistemaComercio/SistemaComercio/.vs/SistemaComercio/FileContentIndex/e1a45048-082e-4d68-8baf-262098b819b9.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/724956bf-10f5-4ff1-b288-d1261c39926e.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/a159bda8-e499-45ba-8448-0c3f9aaff4fe.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/1dc98283-c2d8-4f64-953a-bf4dcad2041e.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/c481cf93-ba34-46b6-bacb-aab5b0e9b899.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/76667b65-3653-4653-8b75-c3f63a2c3618.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/a8b64575-8cd9-4922-b7af-18e3ef2f098c.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/ca6d0508-efdb-420d-ba83-42356a2afd71.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/c9f493cc-fb48-490c-b343-a7b22c5b5914.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/363daeef-8828-43d0-acd4-0eaa035cb4f2.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/dc5daf70-d892-4b97-b548-a946a75b631e.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/90f2ac7b-5341-4dfd-99da-bc489291da32.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/220d61d4-3bf0-498d-b607-df10299e890a.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/161797bc-08fc-4d71-ba4b-84d553fc0455.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/9e847f4e-0f4a-48c0-944f-54bcbe161163.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/d3f09c39-9688-4448-8065-3f9d1a8fda20.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/6a0c9078-3e0d-47ad-b07c-700dee60e71f.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/7f1d59af-93b7-4122-aae9-731e702abc10.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/91b656a2-5e86-4efd-94ed-15221ec37ec7.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/5571308f-cdc7-4d81-ad9d-682a755d733d.vsidx
WindowsFormsApp1/.vs/WindowsFormsApp1/FileContentIndex/f37ecfa3-4eb0-4083-94ef-0a67f70fc714.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/294f7394-a2f8-4bcd-90d5-f5f5721836b5.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/acd2927d-23fc-48f1-bf1a-0e90d2effaf7.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/cb1623cc-657b-4f03-bc82-3843065811cc.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/0941afab-3d36-419e-8e6d-84e3a8de5838.vsidx
UnimakeDfeC\#/.vs/UnimakeDfeC\#/FileContentIndex/3176e53b-f301-4648-9622-6e7e1606f6bc.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/a849dcea-2e74-4f86-9099-db30fa74b5fc.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/438a2f31-c6ec-4230-b334-e9f88b84ba84.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/95f8e4e7-cd57-4776-a2ff-fbfb8a2270de.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/a058284a-eb6b-4f31-b4ac-10760079a65b.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/71a6823f-0b20-4962-9171-3453b0af55e6.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/a76a7ee9-5297-46e3-a514-3aac616b11c1.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/cbb188d7-3f3d-4844-9d5e-b9c4ee064a0c.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/ebb979c6-acbb-437c-bb1f-19d43767d449.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/744cea27-d085-40df-8089-54650cbe29d4.vsidx
POO/.vs/POO/FileContentIndex/581724ac-3fcc-4d5a-b3c8-20b70f211bbe.vsidx
POO/.vs/POO.csproj.dtbcache.json
POO/.vs/POO/FileContentIndex/49bbee50-650f-43bd-93bc-f11c335d2db5.vsidx
POO/.vs/POO/FileContentIndex/6d542e01-b78e-46df-aef2-5a4d99f3a7fb.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/c62cc492-a482-4ecd-93a7-7b41c3ea5aad.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/4fb6e242-eb6b-4965-a68f-5a42d04e0438.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/46e2967c-a12b-47a4-9c1d-43c682d136de.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/107a2ff1-735b-49d7-80c8-23614e0514de.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/05237dd3-0bd5-47f0-a0b6-9e1e306b801d.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/28b111f0-b705-4242-af20-dc3dee6daf78.vsidx
Calculadora Windows/.vs/Calculadora Windows/FileContentIndex/d928f732-a3b2-44dd-8c96-2ae2a50a82d8.vsidx
Calculadora Windows/.vs/Calculadora Windows/FileContentIndex/dbb2366b-a68b-424b-831a-373d61195982.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/d9baebf7-d6f7-40c2-893f-1aa926329748.vsidx
Primeiro/Arrays/ClassePessoa.cs
Primeiro/.vs/Primeiro/FileContentIndex/3220b838-2d29-4a15-aec0-0f9ee10a2282.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/49fa3dae-6361-4d2a-b9b7-88871c3eeb52.vsidx
Primeiro/Arrays/Pessoa.cs
Primeiro/.vs/Primeiro/FileContentIndex/223c0e7c-f867-47ea-9c45-cc2148639123.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/2c8cc148-c501-4571-9d56-3f92fc1fbc10.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/e9b30a92-84c5-4d99-82fe-ac7875581e7c.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/f0457cb8-fd3c-4862-8849-ae13e672fd7d.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/f01299b7-3d97-4e52-a775-ed864b181299.vsidx
Primeiro/Projeto IMC/bin/Debug/clientes.dat
Primeiro/.vs/Primeiro/FileContentIndex/42e73cef-5af4-4660-b7e2-4557b395fe91.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/0b1eff54-981d-480c-a942-88104b5acf8d.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/b52a586a-7e52-4c7b-a1c1-0ef014c24eff.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/644ee1cf-603c-475c-b3a9-e1c5635c5bb8.vsidx
Primeiro/Projeto IMC/Ebook.cs
Primeiro/Projeto IMC/IEstoque.cs
Primeiro/Projeto IMC/Curso.cs
Primeiro/Projeto IMC/ProdutoFisico.cs
Primeiro/Projeto IMC/Produto.cs
Primeiro/.vs/Primeiro/FileContentIndex/4de155db-d382-4062-94ff-bc3eb9fb32b1.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/e52f7a69-4637-4589-97a4-b8f33a100a84.vsidx
POO/.vs/POO/FileContentIndex/1f6ee839-0a1e-44ab-b651-d7c2f228efdb.vsidx
POO/.vs/POO/FileContentIndex/61eb4e02-e2fc-43f9-828c-1428f592e27a.vsidx
POO/.vs/POO/FileContentIndex/722ea830-6ac7-4875-a6aa-7a596e89ebef.vsidx
POO/.vs/POO/FileContentIndex/7efe262a-92c7-42a0-ba18-25417e982b7e.vsidx
POO/.vs/POO/FileContentIndex/19a4a19f-5172-4f99-914e-f2fa75b0dcf3.vsidx
POO/.vs/POO/FileContentIndex/0fb0b52e-8417-46e9-98d0-8f4ed1cf6a36.vsidx
POO/.vs/POO/FileContentIndex/f75a2bec-7ada-4926-886b-407f374b7e7b.vsidx
POO/.vs/POO/FileContentIndex/9cdedceb-3a61-4e19-9f45-49e7a9e4abcc.vsidx
POO/.vs/POO/FileContentIndex/988272c7-11c8-4185-8638-b10701ab570b.vsidx
POO/.vs/POO/FileContentIndex/e2f1ddb5-fcc1-45fc-9340-7c353170321e.vsidx
POO/.vs/POO/FileContentIndex/f0ec118f-1e5e-42cf-a35e-f43507d475b2.vsidx
POO/.vs/POO/FileContentIndex/9cfe2fa5-04b6-40c1-8d3b-4538fab106f8.vsidx
POO/.vs/POO/FileContentIndex/35a6e7eb-3268-4ea8-9268-24c1bd810a3d.vsidx
POO/.vs/POO/FileContentIndex/91d6a6d0-8d44-40f5-9273-8c7d90b5d1b6.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/51d4e5d6-e9a7-4458-bb69-5ddcd9f67123.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/8b524568-afec-4021-984b-0b5ca0bb0d9a.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/merges/244cd4c3-7bbe-4219-b3e3-f5ca45a70eb6.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/f85321ca-3f17-496d-ad6e-3d17d591eac3.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/eff77f25-c95c-4f43-8b7b-8b0b4fc86ea8.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/27bca324-691d-4e26-931e-238ab12b9f80.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/42bd06bd-4386-4aa8-a77b-320a8763d1b2.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/743b71dd-e68a-4b9f-96cc-62acea1d4e07.vsidx
ImpressoraPadraoC\#/.vs/ImpressoraPadraoC\#/FileContentIndex/8458f238-a48b-44b8-bd57-5f825368a40b.vsidx
POO/.vs/POO/FileContentIndex/470c98ac-5441-4fcc-ad06-e74d38332bfc.vsidx
POO/.vs/POO/FileContentIndex/af46766d-babf-4904-8d30-4dbeca51d51e.vsidx
POO/.vs/POO/FileContentIndex/98dd825d-b2b6-40b2-8598-0c18837a825d.vsidx
POO/.vs/POO/FileContentIndex/d93e3883-461c-4bed-95ff-53a456210a9d.vsidx
POO/.vs/POO/FileContentIndex/551bf0d6-66d0-4bae-917b-26f3c461d981.vsidx
POO/.vs/POO/FileContentIndex/44bd938b-c698-4b61-9f0b-9a6ed12d989f.vsidx
POO/.vs/POO/FileContentIndex/79e14c2b-b74b-4f86-8c16-18a4787b89c9.vsidx
POO/.vs/POO/FileContentIndex/accfa114-99a2-4160-91f6-2fd7f628dba5.vsidx
POO/.vs/POO/FileContentIndex/1a674ab1-27d1-4565-8866-139599ead588.vsidx
POO/.vs/POO/FileContentIndex/53161995-9bce-4c0b-8a9b-50c2ddef48a9.vsidx
POO/.vs/POO/FileContentIndex/ccdc20b3-9057-4425-a549-77fa9a46c80f.vsidx
POO/.vs/POO/FileContentIndex/efbbf68f-eb21-4981-9168-b9d6595fe649.vsidx
POO/.vs/POO/FileContentIndex/27b4ed44-db34-4a77-b91a-08724ff76f70.vsidx
POO/.vs/POO/FileContentIndex/71d36fe0-f672-4451-9ae8-11244a3e90fe.vsidx
Propriedades GetSet/bin/Debug/Propriedades GetSet.exe.config
Propriedades GetSet/bin/Debug/Propriedades GetSet.exe
POO/.vs/POO/FileContentIndex/39e83f6c-0f8a-4414-96a1-096d51f7b008.vsidx
POO/.vs/POO/FileContentIndex/915e834b-c20c-4c22-86a2-a76754535f52.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/merges/aeac61c4-e0a9-431c-a75b-c2ffec1c10ce.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/43453999-d354-43c1-927b-0602f6ffa84e.vsidx
Primeiro/.vs/Primeiro/FileContentIndex/ee3c6787-f826-4dfa-a672-e2002c73f5d9.vsidx
POO/.vs/POO/FileContentIndex/c9b65c1f-aed8-4199-813a-e4917e425ef1.vsidx
POO/.vs/POO/FileContentIndex/ceee527c-ffaa-46b6-aefa-24db5551bbd2.vsidx
POO/.vs/POO/FileContentIndex/d26b41e2-6c84-4627-b189-df0df88774b1.vsidx
POO/.vs/POO/FileContentIndex/00282249-dfc0-42da-a5c3-8ea54baedc26.vsidx
POO/.vs/POO/FileContentIndex/534cd3ce-babd-4a96-9b1f-4b279201f979.vsidx
POO/.vs/POO/FileContentIndex/57c8506d-137a-44a3-8143-e96fc2b737ea.vsidx
POO/.vs/POO/FileContentIndex/14d409f5-9bb2-4097-83ca-ef2b8b1ad085.vsidx
POO/.vs/POO/FileContentIndex/ee0a18fe-a9b4-49ae-922a-b505c1e586ca.vsidx
POO/.vs/POO/FileContentIndex/edff8271-4ab3-426f-b6c0-3c16c0dc129b.vsidx
POO/.vs/POO/FileContentIndex/e2785733-3616-4848-b572-514578f58358.vsidx
POO/.vs/POO/FileContentIndex/1d1ea1b8-b988-4914-a967-c0db8f065095.vsidx
POO/.vs/POO/FileContentIndex/13403add-d35f-46b5-b231-5e89e7c99892.vsidx
POO/.vs/POO/FileContentIndex/a3c87754-bd23-4863-b6c8-d5d5f9bff136.vsidx
POO/.vs/POO/FileContentIndex/27b006d3-6958-41fe-af70-8b51c2336791.vsidx
POO/.vs/POO/FileContentIndex/ad6550cd-6e54-494b-90c2-87bb0bbd78ed.vsidx
POO/.vs/POO/FileContentIndex/b86da177-af4c-4358-b94c-a4aa4cbfed01.vsidx
POO/.vs/POO/FileContentIndex/1de0a7ba-c172-4b76-85cf-5d1e2f72bb02.vsidx
POO/.vs/POO/FileContentIndex/3888b5dd-e367-408f-b146-daed1437339d.vsidx
POO/.vs/POO/FileContentIndex/8c1d769b-3e32-49d4-be95-7f47d9acabeb.vsidx
POO/.vs/POO/FileContentIndex/9282f398-bf57-47b8-86fd-b036300a64c8.vsidx
POO/.vs/POO/FileContentIndex/0aebba58-6651-48f5-be30-ba5cbc07bd51.vsidx
POO/.vs/POO/FileContentIndex/97c3c3eb-c6a7-4b59-a419-0d7938060ac8.vsidx
POO/.vs/POO/FileContentIndex/09b321e9-ef96-4812-8bfe-62646c77c442.vsidx
POO/.vs/POO/FileContentIndex/c688695b-c854-458c-9caa-c0a10d5e89c0.vsidx
POO/.vs/POO/FileContentIndex/504043db-211b-4ded-9efc-1015b2b793c4.vsidx
POO/.vs/POO/FileContentIndex/af21443c-f803-403a-aee7-130c88f7cef7.vsidx
POO/.vs/POO/FileContentIndex/b9f79c77-db70-42a7-b9d0-74336bd7cfd7.vsidx
POO/.vs/POO/FileContentIndex/4045de44-273e-4a11-8ab5-ebb849d3b3ea.vsidx
POO/.vs/POO/FileContentIndex/44dd43eb-2004-400d-be15-42af8164b74c.vsidx
POO/.vs/POO/FileContentIndex/b5054fc3-049d-4f41-969a-dc3c8d6f0b18.vsidx
POO/.vs/POO/FileContentIndex/30a08f56-8d41-40c4-a7e5-fe39dbc8c0b5.vsidx
POO/.vs/POO/FileContentIndex/081f2097-70d3-4ead-9480-e679f9c713c7.vsidx
POO/.vs/POO/FileContentIndex/962da17e-42b5-44dd-9f63-f3c393c93a0b.vsidx
POO/.vs/POO/FileContentIndex/fdea798c-62b9-4489-8968-54483d6cf0fa.vsidx
POO/.vs/POO/FileContentIndex/25633ef0-59fb-4685-ba88-2b4dd1bc3bcd.vsidx
POO/.vs/POO/FileContentIndex/1904041d-d08b-4424-826f-8f7036fa08cc.vsidx
POO/.vs/POO/FileContentIndex/6c5622fe-fa9f-4194-b5e0-042dfac7e55a.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/ba04abcf-1df3-4554-9391-77116f2454c8.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/a5461e09-433a-4590-8ee4-ca49e56bff11.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/72cfc571-fa42-451a-86ef-5e69a1609304.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/3bf312db-d655-4835-af10-bd5d666da26a.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/601ff360-2076-4cb3-b396-cf2170ccb732.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/8325de9c-4578-4b37-8595-1aba3ba583f9.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/1e46ba67-3fd2-4168-be04-e65a1b47566e.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/511bda23-bf1c-48a6-91d8-03f7393f426e.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/2a5f395b-0f69-49ed-9b99-50892a07227e.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/b02760fe-75ab-493f-86fc-f75cc68d6328.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/813d752e-a7f1-4417-971f-6bebacedcfb6.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/0af62ef5-a729-45a9-aea3-b503bf662175.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/f8ee2e0a-e8fb-4130-97cc-49318dc8f9de.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/f1f5b8c7-954e-49bc-8e2d-e8e9dec929ad.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/2eba65a8-facb-408d-a2f7-8998754ed546.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/16d745d0-d910-4fff-8973-459cbe49014b.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/e01f01ea-e40c-416b-9371-07f04535412c.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/f5ed0603-63d8-4e38-a4a9-08a3651e97e6.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/cd8a1c04-b0a6-4be1-9ae3-03d18be2d563.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/9122c30c-ad09-4f0d-a68b-3adb6103285f.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/4650f5b3-62b3-46de-8589-42e0db1c43bf.vsidx
EstudandoForms/.vs/EstudandoForms/FileContentIndex/fcc72d84-157e-4eae-bc62-f7fb780df062.vsidx
