* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



nav
{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #333;
}

nav .navbar ul
{
    display: flex;
    gap: 10px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .navbar ul a
{
    text-decoration: none;
    color: aliceblue;
    transition: 0.1s;
}

nav .navbar ul a:hover
{
   text-decoration: underline;
   color: darkgoldenrod;
}

.logo
{
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    height: 25px;
    width: 100px;
    background-color:darkgoldenrod;
    border-radius: 10px;
}