* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    background-color: cadetblue;
}

nav ul
{
    padding: 20px;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a
{
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}

nav a:hover
{
    color: rgb(63, 63, 63);
    transition: 0.5s;
}